/* basic elements */

body {
    text-align: center;
}

/* classes */

.message {
    display: inline-block;
}

.button {
    cursor: pointer;
    color: blue;
    margin: 4px;
    padding: 4px;
    font-weight: bold;
}

.button:hover {
    transform: scale(1.1);
}

.selected {
    background-color: rgba(70, 50, 150, 0.1);
}

.weatherCondition {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

.date {
    font-weight: bold;
}

.degreeCanvas {
    vertical-align: middle;
    margin: 1px 5px;
}

.value {
    color: blue;
}

.chartCanvas {
    margin: 20px 0;
}

.weatherItem:nth-child(odd) {
    background-color: rgba(0, 0, 255, 0.1);
}

.error {
    color: darkred;
    font-weight: bold;
}

.horizontalList {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.horizontalList > li {
    display: inline-block;
}

.twoColumns {
    column-count: 2;
    column-gap: 20px;
    column-fill: auto;
    list-style-position: inside;
    text-align: left;
}

/* specific elements */

#WeatherInfoContainer > div {
    display: inline-block;
    margin: 10px 0;
}

#WeatherList {
    width: 95vw;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

#WeatherList > div {
    display: inline-block;
}

#PreviousSearches {
    margin: 5px;
}

#CurrentWeatherCondition {
    font-size: 150%;
}